{% load static %}

<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>{{ admin_page_title }}</title>
    <link rel=icon href=/favicon.ico>
    <link rel=preload as=style  href="{% static 'frontend/css/app.css' %}">
    <link rel=preload as=style  href="{% static 'frontend/css/chunk-vendors.css' %}">
    <link rel=preload as=script href="{% static 'frontend/js/app.js' %}">
    <link rel=preload as=script href="{% static 'frontend/js/chunk-vendors.js' %}">
    <link rel=stylesheet href="{% static 'frontend/css/chunk-vendors.css' %}">
    <link rel=stylesheet href="{% static 'frontend/css/app.css' %}">
    {% if SETTINGS.G3WSUITE_CUSTOM_STATIC_URL %}
        {% for css in SETTINGS.G3WSUITE_CUSTOM_CSS %}
            <link rel="stylesheet" href="{{ css }}" />
        {% endfor %}
    {% endif %}
    {% if SETTINGS.PORTAL_CUSTOM_CSS %}
        <style>{{ SETTINGS.PORTAL_CUSTOM_CSS | safe }}</style>
    {% endif %}
</head>
<body>
    <noscript><strong>You must enable JavaScript to continue.</strong></noscript>
    <script>
        window.API_BASE_URL = '{{ API_BASE_URL }}'
        window.LANGUAGES = {{ LANGUAGES | safe }}
        window.PORTAL_ORG_NAME = '{{ SETTINGS.PORTAL_ORG_NAME }}'
        window.PORTAL_ORG_URL = '{{ SETTINGS.PORTAL_ORG_URL }}'
        window.PORTAL_FAVICON = '{{ SETTINGS.PORTAL_FAVICON }}'
        window.PORTAL_NAVBAR_TOP = {{ SETTINGS.PORTAL_NAVBAR_TOP | yesno:"true,false" }}
    </script>
    <div id=app></div>
    <script src="{% static 'frontend/js/chunk-vendors.js' %}"></script>
    <script src="{% static 'frontend/js/app.js' %}"></script>
    {% if SETTINGS.G3WSUITE_CUSTOM_STATIC_URL %}
        {% for js in SETTINGS.G3WSUITE_CUSTOM_JS %}
            <script src="{{ js }}"></script>
        {% endfor %}
    {% endif %}
</body>
</html>
