<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <link href="<%= BASE_URL %>favicon.ico" rel="icon">
  <title>G3W-SUITE</title>
</head>
<body>
  <noscript><strong>You must enable JavaScript to continue.</strong></noscript>
  <div id="app"></div>
</body>
</html>
